<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Producto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/buscar"></ion-back-button> <!-- Regresa a Buscar -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles del Producto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aquí se muestran los detalles del producto seleccionado.
    </ion-card-content>
  </ion-card>
</ion-content>